{% extends 'base.html' %}

{% block page_title %}
Edit Teacher
{% endblock page_title %}

{% block content %}

{% load static %}

<section style="text-align: center;" class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit Teacher</h3>
                    </div>
                    <br>
                    <form role="form" method="POST" action="{% url 'edit_teacher_save' %}">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" value="{{ teacher.admin.email }}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username"
                                    value="{{ teacher.admin.username }}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" name="password"
                                    value="{{ teacher.admin.password }}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="first_name"
                                    value="{{ teacher.admin.first_name }}">
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="last_name"
                                    value="{{ teacher.admin.last_name }}">
                                <input type="hidden" name="staff_id" value="{{ teacher.admin.id }}" />
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Address</label>
                                <textarea class="form-control" name="address">{{ teacher.address }}</textarea>
                            </div>
                        </div>
                        <br>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update Teacher</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </div>
</section>

{% endblock content %}