{% extends 'base.html' %}

{% block page_title %}
Manage teachers
{% endblock page_title %}

{% block content %}

{% load static %}

<section style="text-align: center;" class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Teachers Details</h3>

                    </div>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Address</th>
                                    <th>Date Joined</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teacher in teachers %}
                                <tr>
                                    <td>{{ teacher.admin.id }}</td>
                                    <td>{{ teacher.admin.first_name }}</td>
                                    <td>{{ teacher.admin.last_name }}</td>
                                    <td>{{ teacher.admin.username }}</td>
                                    <td>{{ teacher.admin.email }}</td>
                                    <td>{{ teacher.address }}</td>
                                    <td>{{ teacher.admin.date_joined }}</td>
                                    <td>
                                        <a href="{% url 'edit_teacher' teacher.admin.id %}"
                                            class="btn btn-success">Edit</a>
                                        <a href="{% url 'delete_teacher' teacher.admin.id %}"
                                            class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}